@model IEnumerable<MvcMovie.Models.Movie>
@{
    ViewData["Title"] = "Movies Page";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    
                </td>
                @*<snippet_1>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                </td>
                @*</snippet_1>*@
            </tr>
        }
